{% comment %} <div class="ctm__tab_content_area ctm__{{ bkst.tabLabel | downcase | replace: ' ', '_' }}_content_area px-md-3 {% unless forloop.index == 1 %}d-none{% endunless %}" data-tab_index="{{ forloop.index }}" data-step_index="{{ "step_" | append: forloop.index }}"> {% endcomment %}
<div class="ctm__tab_content_area ctm__cocktails_content_area {{ ctmWrapClass }} {% unless forloop.index == 1 %}d-none{% endunless %}" data-tab_index="{{ forloop.index }}" data-step_index="{{ "step_" | append: forloop.index }}">
  {% if bkst.tabHeading != blank or bkst.tabSubHeading != blank %}
   <div class="ctm-header-w-button mob_border-bottom">
    <div class="px-md-3 rdc-p-bl2r ctm_tab_content_header d-flex align-items-center justify-content-between pb-2 flex-wrap ctm_pl_0- ctm_pr_0 mob_justi-center mob_border-bottom">
      {% if bkst.tabHeading != blank %}
        <div class="tab_content_heading ctmFontDahlia mob_fs-h3">
          <h3 class="rdc-m-0">{{ bkst.tabHeading }}</h3>
        </div>
      {% endif %}
      {% if bkst.tabSubHeading != blank %}
        <div class="tab_content_sub_heading">
          <p class="ctmSecFontNormal- ctmSecFontAvenir ctmSecFont600- ctm_tab_clr_blk mob_tab_subheading_hide rdc-fs-16 rdc-fw-600">{{ bkst.tabSubHeading }}</p>
        </div>
      {% endif %}
    </div>
      {% if bkst.nextBtnPosition == 'asBelowCards' %}
    <div class="ctm_tab_content_footer text-md-right text-center ctm_nxtBtnBelowCards">
      {% if bkst.nextStepBtnLabel != blank %}
        <p class="ctm_tab_content_next_btn_sub_line my-3 mb-md-3 mt-md-0 ctm_paragraph2_font">{{ bkst.nextStepBtnLabel }}</p>
      {% endif %}
      {% if bkst.nextStepBtnSubLabel != blank %}
        <button class="btn btn-danger ctm_tab_content_next_btn ctmBtnBurgundy ctmSecFontAvenir ctmSecFontNormal- ctmTextCapitalize- ctmSecFontUpCase" type="button">{{ bkst.nextStepBtnSubLabel }}</button>
      {% endif %}
    </div>
  {% endif %}
     </div>
  {% endif %}
  <div class="row ctm_tab_content_inner_area rdc-p-40 mx-auto">
  {%- capture placeholder -%}product-{% cycle 1, 2, 3, 4, 5, 6 %}{%- endcapture -%}
    {% for product in collections[bkst.collection].products %}
      {% assign product_image_metafield = product.metafields.images.customizer_product_image  %}
      {% if product_image_metafield != blank %}
        {% assign product_image = product_image_metafield %}
       {% else %}
        {% assign product_image = product.featured_image %}
      {% endif %}

      {% assign product_title = product.title %}

{% assign two_line_prod_title = product.title | split: '&' %}

{% if two_line_prod_title.size > 1 %}      
{% assign new_two_line_prod_title = two_line_prod_title[0] | append: '<br>&' %}
{% assign new_two_line_prod_title = new_two_line_prod_title | append: two_line_prod_title[1] %}
{% else %}
  {% assign new_two_line_prod_title = two_line_prod_title[0] %}
{% endif %}  
{% if page.handle == 'foxtails-custom' %}
{% assign product_title = new_two_line_prod_title %}
{% endif %}  
      {% comment %} {{ product.title }}<br> {% endcomment %}
      {% comment %} <label class="col-md-3 col-6 px-2 text-center ctm_tab_pro_card position-relative" for="ctm_tab_card_{{ product.id }}"> {% endcomment %}
      <label class="col-md-3 col-6 ctm_tab_pro_card ctm_pro__card activeWhite" for="ctm_tab_card_{{ product.id }}">
        <div class="px-md-2 text-center position-relative activeWhite- pb-3- py-md-3 h-100 cus_pdp-card">
          <div class="img-fluid">
            {% if product.featured_image != blank %}
              {% comment %} <img src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.featured_image.alt }}" fetchpriority="high"> {% endcomment %}
              <img src="{{ product_image | img_url: '450x450' }}" alt="{{ product.featured_image.alt }}" fetchpriority="auto" loading="eager">
            {% else %}
            {{ placeholder | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}
          </div>
          <h3 class="mb-1- my-2 rdc-ff-1 rdc-fs-14 rdc-tt-upc rdc-fw-600 ctmSecFontAvenir- ctmFontDahlia ctmProTitleFSize {{ bkst.chooseLProductTitleText }}">{{ product_title | capitalize }}</h3>
          {% if product.metafields.ctm.custom_short_description != blank %}
            <p class="ctm_proshort_desc ctmSecFontAvenir ctm_paragraph1_font mob_fs_12 rdc-d-none">{{ product.metafields.ctm.custom_short_description }}</p>
          {% else %}
            <p class="ctm_proshort_desc ctmSecFontAvenir ctm_paragraph1_font">{{ product.description | truncatewords: 5 }}</p>
          {% endif %}
          <input type="checkbox" name="Foxtails" id="ctm_tab_card_{{ product.id }}" class="d-none" value="{{ product.selected_or_first_available_variant.id }}" data-ctm_quantity="0" data-ctm_title="{{ product.title }}" data-ctm_price="{{ product.price | money }}" data-ctm_price_no_currency="{{ product.price | divided_by: 100 }}">
          {% render 'icon_circle_rounded', class: 'position-absolute ctm_tab_pro_card_icon' %}
          {% comment %} {% form 'product', product, class: 'ctm_tab_pro_form' %}
            <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
            <input type="hidden" name="quantity" value="1">
            {% render 'icon_circle_rounded' %}
          {% endform %} {% endcomment %}
          <div class="ctm_quatity_wrapper position-absolute">
            <div class="qty-selector rdc col-12 py-2">
              <div class="ctm_quantity_corner"></div>
              <input class="qtyminus" field="updates_{{ product.selected_or_first_available_variant.id }}" type="button" value="-">
              <input class="quantity" id="updates_{{ product.selected_or_first_available_variant.id }}" max="99" min="0" name="updates[]" pattern="[0-99]*" type="number" value="0">
              <input class="qtyplus" field="updates_{{ product.selected_or_first_available_variant.id }}" type="button" value="+">
            </div>
          </div>
        </div>
      </label>
    {% endfor %}
    {% if bkst.nextBtnPosition == 'asCard' %}
      {% comment %} <div class="mob_border-top ctm_tab_content_footer text-md-right text-center mt-3"> {% endcomment %}
      <div class="col-md-3 col-6 ctm_nxtBtnAsCard mob_border-top ctm_tab_content_footer text-md-right- ctm_pro__card activeWhite text-center mt-3 d-flex flex-column justify-content-center align-items-center">
        {% if bkst.nextStepBtnLabel != blank %}
          <p class="ctm_tab_content_next_btn_sub_line my-3 mb-md-3 mt-md-0 ctm_paragraph2_font">{{ bkst.nextStepBtnLabel }}</p>
        {% endif %}
        {% if bkst.nextStepBtnSubLabel != blank %}
          <button class="btn btn-danger ctm_tab_content_next_btn ctmBtnBurgundy ctmSecFontAvenir ctmSecFontNormal- ctmTextCapitalize- ctmSecFontUpCase" type="button">{{ bkst.nextStepBtnSubLabel }}</button>
        {% endif %}
      </div>
    {% endif %}
  </div>
 {% if bkst.nextBtnPosition == 'asBelowCards' %}
    <div class="ctm_tab_content_footer rdc-button-next-con text-md-right text-center ctm_nxtBtnBelowCards">
      {% if bkst.nextStepBtnLabel != blank %}
        <p class="ctm_tab_content_next_btn_sub_line my-3 mb-md-3 mt-md-0 ctm_paragraph2_font">{{ bkst.nextStepBtnLabel }}</p>
      {% endif %}
      {% if bkst.nextStepBtnSubLabel != blank %}
        <button class="btn btn-danger ctm_tab_content_next_btn ctmBtnBurgundy ctmSecFontAvenir ctmSecFontNormal- ctmTextCapitalize- ctmSecFontUpCase" type="button">{{ bkst.nextStepBtnSubLabel }}</button>
      {% endif %}
    </div>
  {% endif %}
</div>